---
services:
  calibre:
    image: lscr.io/linuxserver/calibre:latest
    container_name: calibre
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
    volumes:
      - ./calibre-config:/config
      - ./books:/books
    ports:
      - "8080"
      - "8181"
      - "8082"
      - "8081:8081"
    healthcheck:
      test: ["CMD", "curl", "--silent", "-f","http://localhost:8080"]
      interval: 30s
      timeout: 10s
      retries: 3
    logging:
      driver: "json-file"
      options:
        max-size: "3m"
        max-file: "3"
    restart: unless-stopped

  nginx:
    image: nginx:1.29.3-alpine
    container_name: nginx
    volumes:
      - ./calibre.conf:/etc/nginx/conf.d/default.conf
      - ./certs:/etc/nginx/certs
    ports:
      - 443:443
    healthcheck:
      test: ["CMD", "curl", "--silent", "-f","http://localhost:80"]
      interval: 30s
      timeout: 10s
      retries: 3    
    logging:
      driver: "json-file"
      options:
        max-size: "3m"
        max-file: "3"
    restart: unless-stopped
    depends_on:
      calibre:
        condition: service_healthy


networks:
  calibre_network:
    name: calibre_network
